.page_container {
    background-color: lightgray;
}

.page_expand_header {
    width: 100%;
    /* border: 1px solid black; */
    padding: 1rem;
    background-color: lightgray;
    height: fit-content;
}

.page_expanded_header {
    width: 100%;
    /* border: 1px solid black; */
    padding: 1rem;
    background-color: lightgray;
}